@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .rnc__notification {
    animation: bounceIn 0.8s ease-out forwards;
  }
.rnc__notification-container--top-right {
    right: 360px !important;
    top: -440px !important;
  }

  /* Using more specific selectors */
.shipping-details .form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease;
}

.shipping-details .form-input:focus {
  border-color: #3b82f6; /* Blue border on focus */
  outline: none;
}
